body {
    background-color: #14804d;
    background-image: linear-gradient(#00FBFB, #14804d);
    background-attachment: fixed;
    margin: 0;

    text-align: center;
    font-size: 34px;
}
a {
    text-decoration: none;
    color: black;
}

.menus {
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 20vw;
    height: 30vh;
    background-color: #05B5B5;
    border: white solid 0.5vh;

    margin-bottom: 2em;
}

.welcome_text {

}

#mapContainer {
    width: 400px;
    height: 200px;
    border: 1px solid #ebebeb;
}
#coords {
    width: 380px;
    padding: 10px;
    text-align: center;
}