#unity-canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: calc(100vw * 1080 / 1920);
}

#mobile-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    height: 100vh;
    font-size: 4vh;
}

@media only screen and (max-height: calc(100vw * 1080 / 1920)) {
    #unity-canvas {
        width: calc(100vh * 1920 / 1080);
        height: 100vh;
    }
}
